#oldIe a {
    background-color: #F3F781;
}
#date {
    width: 100px;
}
#keyCode {
    width: 70px;
}
.acct4Digit {
    width: 50px;
}
.acct3Digit {
    width: 40px;
}
.acct2Digit {
    width: 30px;
}
.left {
    text-align: right;
}
.right {
    text-align: left;
}
#fulfill {
    width: 100px;
}
#attach {
    display: inline;
}
#instruct {
    max-height: 500px;
}