#cardInfo {
    position: relative;
}
.phoneNum {
    width: 134px;
}
img {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(0, -50%);
    width: 189px;
    height: 108px;
}
#sideControl {
    display: none;
}
#keyCodeBC {
    width: 70px;
}
label[for="commentsBC"] {
    margin-left: 20px;
}