#oldIE {
    background-color: #F3F781;
    border: 1px solid;
    border-radius: 10px;
}
#oldIE a {
    color: blue;
}
#desc {
    width: 300px;
}
#fulfill {
    width: 100px;
    cursor: text;
}
#numCP {
    width: 30px;
}
#attach {
    display: inline;
}
#keyCodeCP {
    width: 70px;
}
#instruct {
    overflow: auto;
    resize: none;
}