body {
    text-align: center;
    color: white;
}
#main {
    background-color: #002244;
}
#ui-id-2, #ui-id-4, #ui-id-6, #ui-id-8, #ui-id-10, #ui-id-12 {
    background-color: #69BE28;
}
.row {
    margin-top: 2em;
}
#tab {
    display: none;
}
.error {
    background-color: #FA5858;
    font-size: 2em;
    margin-top: 1em;
    border: 1px solid;
    border-radius: 10px;
}